---
> *ELGHAZI SOUFIANE
---

In [1]:
import org.apache.spark.sql.{SparkSession, DataFrame}
val spark = SparkSession.builder.appName("Flights_scala").getOrCreate()

spark = org.apache.spark.sql.SparkSession@331495c9

org.apache.spark.sql.SparkSession@331495c9

In [2]:
var file ="file:///home/soufiane/Bureau/Spark_TP2/flights20170102.json"
val df = spark.read.format("json").option("inferSchema", "true").load(file) 
df.createOrReplaceTempView("flights")
df.show(10)

+--------------------+--------+-------+----------+----------+----------+--------------+--------+----+------+----+------+
|                 _id|arrdelay|carrier|crsarrtime|crsdephour|crsdeptime|crselapsedtime|depdelay|dest|  dist|dofW|origin|
+--------------------+--------+-------+----------+----------+----------+--------------+--------+----+------+----+------+
|AA_2017-01-01_ATL...|     0.0|     AA|      1912|        17|      1700|         132.0|     0.0| LGA| 762.0|   7|   ATL|
|AA_2017-01-01_LGA...|     0.0|     AA|      1620|        13|      1343|         157.0|     0.0| ATL| 762.0|   7|   LGA|
|AA_2017-01-01_MIA...|    10.0|     AA|      1137|         9|       939|         118.0|     0.0| ATL| 594.0|   7|   MIA|
|AA_2017-01-01_ORD...|     0.0|     AA|        26|        20|      2020|         186.0|     0.0| MIA|1197.0|   7|   ORD|
|AA_2017-01-01_LGA...|     0.0|     AA|      1017|         7|       700|         197.0|     0.0| MIA|1096.0|   7|   LGA|
|AA_2017-01-01_ORD...|     0.0|     AA|      1527|        13|      1345|         162.0|     0.0| DEN| 888.0|   7|   ORD|
|AA_2017-01-01_DEN...|     0.0|     AA|      1649|        11|      1100|         229.0|     0.0| MIA|1709.0|   7|   DEN|
|AA_2017-01-01_MIA...|     0.0|     AA|       949|         7|       720|         269.0|     7.0| DEN|1709.0|   7|   MIA|
|AA_2017-01-01_DEN...|     0.0|     AA|      1600|        12|      1235|         145.0|     0.0| ORD| 888.0|   7|   DEN|
|AA_2017-01-01_ORD...|     3.0|     AA|      1145|        10|      1005|         160.0|     5.0| DEN| 888.0|   7|   ORD|
+--------------------+--------+-------+----------+----------+----------+--------------+--------+----+------+----+------+
only showing top 10 rows

file = file:///home/soufiane/Bureau/Spark_TP2/flights20170102.json
df = [_id: string, arrdelay: double ... 10 more fields]

[_id: string, arrdelay: double ... 10 more fields]

In [3]:
import org.apache.spark.sql.functions._
df.filter($"crsdephour" === 10).show(5)

+--------------------+--------+-------+----------+----------+----------+--------------+--------+----+------+----+------+
|                 _id|arrdelay|carrier|crsarrtime|crsdephour|crsdeptime|crselapsedtime|depdelay|dest|  dist|dofW|origin|
+--------------------+--------+-------+----------+----------+----------+--------------+--------+----+------+----+------+
|AA_2017-01-01_ORD...|     3.0|     AA|      1145|        10|      1005|         160.0|     5.0| DEN| 888.0|   7|   ORD|
|AA_2017-01-01_MIA...|     0.0|     AA|      1231|        10|      1005|         206.0|     4.0| ORD|1197.0|   7|   MIA|
|DL_2017-01-01_ORD...|     0.0|     DL|      1300|        10|      1000|         120.0|     2.0| ATL| 606.0|   7|   ORD|
|DL_2017-01-01_DEN...|     0.0|     DL|      1524|        10|      1035|         169.0|     4.0| ATL|1199.0|   7|   DEN|
|DL_2017-01-01_DEN...|     0.0|     DL|      1624|        10|      1045|         219.0|     0.0| LGA|1620.0|   7|   DEN|
+--------------------+--------+-------+----------+----------+----------+--------------+--------+----+------+----+------+
only showing top 5 rows

In [4]:
df.filter($"crsdephour" === 10 && $"depdelay" > 40).show(10)

+--------------------+--------+-------+----------+----------+----------+--------------+--------+----+------+----+------+
|                 _id|arrdelay|carrier|crsarrtime|crsdephour|crsdeptime|crselapsedtime|depdelay|dest|  dist|dofW|origin|
+--------------------+--------+-------+----------+----------+----------+--------------+--------+----+------+----+------+
|UA_2017-01-01_EWR...|    55.0|     UA|      1319|        10|      1042|         157.0|    70.0| ATL| 746.0|   7|   EWR|
|AA_2017-01-01_ATL...|   141.0|     AA|      1106|        10|       959|         127.0|   137.0| ORD| 606.0|   7|   ATL|
|AA_2017-01-02_ORD...|   319.0|     AA|      1314|        10|      1034|         280.0|   294.0| SFO|1846.0|   1|   ORD|
|WN_2017-01-02_SFO...|   118.0|     WN|      1315|        10|       950|         145.0|   115.0| DEN| 967.0|   1|   SFO|
|AA_2017-01-02_BOS...|    59.0|     AA|      1215|        10|      1015|         180.0|    45.0| ORD| 867.0|   1|   BOS|
|UA_2017-01-02_IAH...|   160.0|     UA|      1349|        10|      1025|         144.0|   128.0| MIA| 964.0|   1|   IAH|
|UA_2017-01-02_IAH...|    39.0|     UA|      1442|        10|      1020|         202.0|    53.0| EWR|1400.0|   1|   IAH|
|UA_2017-01-02_DEN...|    30.0|     UA|      1326|        10|      1004|         142.0|    42.0| IAH| 862.0|   1|   DEN|
|UA_2017-01-02_IAH...|    46.0|     UA|      1251|        10|      1015|         156.0|    63.0| ORD| 925.0|   1|   IAH|
|UA_2017-01-02_IAH...|   129.0|     UA|      1237|        10|      1015|         262.0|   134.0| SFO|1635.0|   1|   IAH|
+--------------------+--------+-------+----------+----------+----------+--------------+--------+----+------+----+------+
only showing top 10 rows

In [5]:
df.groupBy("carrier").count().show()

+-------+-----+
|carrier|count|
+-------+-----+
|     UA|18873|
|     AA|10031|
|     DL|10055|
|     WN| 2389|
+-------+-----+

In [6]:
df.groupBy("carrier").agg("depdelay" -> "max", "depdelay" -> "min", "crsdeptime" -> "sum").show

+-------+-------------+-------------+---------------+
|carrier|max(depdelay)|min(depdelay)|sum(crsdeptime)|
+-------+-------------+-------------+---------------+
|     UA|       1138.0|          0.0|       24267859|
|     AA|       1440.0|          0.0|       13226373|
|     DL|       1185.0|          0.0|       13318833|
|     WN|        375.0|          0.0|        3104545|
+-------+-------------+-------------+---------------+

In [7]:
df.filter($"arrdelay" >40 || $"depdelay"> 40).groupBy("dest").count().orderBy(desc("count")).show()

+----+-----+
|dest|count|
+----+-----+
| SFO|  926|
| EWR|  699|
| ORD|  670|
| LGA|  647|
| ATL|  616|
| DEN|  462|
| MIA|  432|
| BOS|  393|
| IAH|  375|
+----+-----+

In [8]:
df.cache

[_id: string, arrdelay: double ... 10 more fields]

In [9]:
df.createOrReplaceTempView("flights")

In [10]:
spark.catalog.cacheTable("flights")

In [11]:
spark.sql("select carrier, origin, dest, depdelay, crsdephour, dist, dofw from flights where depdelay> 40 order by depdelay desc limit 5").show

+-------+------+----+--------+----------+------+----+
|carrier|origin|dest|depdelay|crsdephour|  dist|dofw|
+-------+------+----+--------+----------+------+----+
|     AA|   SFO| ORD|  1440.0|         8|1846.0|   3|
|     DL|   BOS| ATL|  1185.0|        17| 946.0|   6|
|     UA|   DEN| EWR|  1138.0|        12|1605.0|   4|
|     DL|   ORD| ATL|  1087.0|        19| 606.0|   7|
|     UA|   MIA| EWR|  1072.0|        20|1085.0|   1|
+-------+------+----+--------+----------+------+----+

In [12]:
df.select($"carrier", $"origin", $"dest", $"depdelay", $"crsdephour", $"dist", $"dofw") .filter($"depdelay"> 40).orderBy(desc( "depdelay")).show(5)

+-------+------+----+--------+----------+------+----+
|carrier|origin|dest|depdelay|crsdephour|  dist|dofw|
+-------+------+----+--------+----------+------+----+
|     AA|   SFO| ORD|  1440.0|         8|1846.0|   3|
|     DL|   BOS| ATL|  1185.0|        17| 946.0|   6|
|     UA|   DEN| EWR|  1138.0|        12|1605.0|   4|
|     DL|   ORD| ATL|  1087.0|        19| 606.0|   7|
|     UA|   MIA| EWR|  1072.0|        20|1085.0|   1|
+-------+------+----+--------+----------+------+----+
only showing top 5 rows

In [13]:
df.groupBy("carrier").agg(avg("depdelay")).show

+-------+------------------+
|carrier|     avg(depdelay)|
+-------+------------------+
|     UA|17.477878450696764|
|     AA| 10.45768118831622|
|     DL|15.316061660865241|
|     WN|13.491000418585182|
+-------+------------------+

In [14]:
spark.sql("select carrier, avg(depdelay) from flights group by carrier").show() 
//display(spark.sql("select carrier, avg(depdelay) from flights group by carrier"))

+-------+------------------+
|carrier|     avg(depdelay)|
+-------+------------------+
|     UA|17.477878450696764|
|     AA| 10.45768118831622|
|     DL|15.316061660865241|
|     WN|13.491000418585182|
+-------+------------------+

In [15]:
df.filter($"depdelay"> 48).groupBy("carrier").count.orderBy (desc("count")).show(5)
//display(sql("select carrier, count(depdelay) from flights where depdelay> 40 group by carrier"))

+-------+-----+
|carrier|count|
+-------+-----+
|     UA| 2094|
|     DL|  911|
|     AA|  642|
|     WN|  201|
+-------+-----+

In [16]:
spark.sql("select dofw, count (depdelay) from flights where depdelay> 40 group by dofw").show()
//display(sql("select dofw, count (depdelay) from flights where depdelay> 40 group by dofw"));

+----+---------------+
|dofw|count(depdelay)|
+----+---------------+
|   7|            701|
|   6|            424|
|   5|            579|
|   1|            940|
|   3|            482|
|   2|            712|
|   4|            626|
+----+---------------+

In [19]:
spark.sql("select crsdephour, count(depdelay) from flights where depdelay > 48 group by crsdephour order by crsdephour").show()
//display(sql("select crsdephour, count(depdelay) from flights where depdelay 48 group by crsdephour order by crsdephour"))

+----------+---------------+
|crsdephour|count(depdelay)|
+----------+---------------+
|         0|              8|
|         1|              1|
|         5|             14|
|         6|             58|
|         7|             89|
|         8|            160|
|         9|            151|
|        10|            239|
|        11|            238|
|        12|            207|
|        13|            279|
|        14|            306|
|        15|            279|
|        16|            317|
|        17|            419|
|        18|            346|
|        19|            327|
|        20|            189|
|        21|            134|
|        22|             57|
+----------+---------------+
only showing top 20 rows

In [18]:
spark.sql("select origin, count (depdelay) from flights where depdelay> 40 group by origin ORDER BY count (depdelay) desc").show()
//display(sql("select origin, count (depdelay) from flights where depdelay> 40 group by origin ORDER BY count (depdelay) desc"))

+------+---------------+
|origin|count(depdelay)|
+------+---------------+
|   ORD|            679|
|   ATL|            637|
|   SFO|            542|
|   EWR|            518|
|   DEN|            484|
|   IAH|            447|
|   LGA|            432|
|   MIA|            429|
|   BOS|            296|
+------+---------------+

lastException = null

null